<div  class="bg-dark">
    <div class="container form_container">
       <form #f="ngForm" (ngSubmit) = "submit(f)">
           <div class="form-group">
                <label for="firstName">First Name</label>
                <input [(ngModel)] ="user.firstName" required name="firstName" #firstName ="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is Required</div>
           </div>
           <div class="form-group">
                <label for="lastName">Last Name</label>
                <input [(ngModel)] ="user.lastName" required name="lastName" #lastName ="ngModel" (change)="log(firstName)" id="lastName" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Last Name is Required</div>
           </div>
           <div class="form-group">
                <label for="streetAddress">Street Address</label>
                <input [(ngModel)]="user.streetAddress" required name="streetAddress" #streetAddress ="ngModel"  id="streetAddress" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf="streetAddress.touched && !streetAddress.valid">Street Address is Required</div>
           </div>
           <div class="form-group">
                <label for="state">State</label>
                <input [(ngModel)] ="user.state" required name="state" #state ="ngModel"  id="state" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf="state.touched && !state.valid">State Address is Required</div>
           </div>
           <div class="form-group">
                <label for="zip">Zip Code</label>
                <input [(ngModel)] = "user.zipcode" required name="zip" #zip ="ngModel"  id="zip" type="text" class="form-control">
                <div class="alert alert-danger" *ngIf="zip.touched && !zip.valid">Zip Code is Required</div>
           </div>
           <div class="form-group">
                <label for="email">Email</label>
                <input [(ngModel)] = "user.email" required  name="email" #email ="ngModel"  id="email" type="email" class="form-control">
                <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                        <div *ngIf="email.errors.required">Email is required and format should be <i>john@doe.com</i> </div>
                </div>
           </div>
           <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)] ="user.password" required minlength = "6" maxlength = "20" name="password" #password ="ngModel"  id="password" type="password" class="form-control">
                <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                    <div *ngIf="password.errors.required">Password is required </div>
                    <div *ngIf="password.errors.minlength"> Password should be minimum 6 characters </div>
                    <div *ngIf="password.errors.maxlength"> Password should be minimum 6 characters </div>
                </div>
           </div>
           <div class="form-group">
                <label for="passwordConfirm">Confirm Password</label>
                <input [(ngModel)] = "user.confirmPassword" required  minlength = "6" maxlength = "20" name="passwordConfirm" #passwordConfirm ="ngModel"  id="passwordConfirm" type="password" class="form-control">
                <div class="alert alert-danger" *ngIf="passwordConfirm.touched && !passwordConfirm.valid">
                    <div *ngIf="passwordConfirm.errors.required">Password is required </div>
                    <div *ngIf="passwordConfirm.errors.minlength"> Password should be minimum 6 characters </div>
                    <div *ngIf="passwordConfirm.errors.maxlength"> Password should be minimum 6 characters </div>
                    <div *ngIf="isNotMatch()">Passwords do not match</div>
                </div>
                
           </div>


            <button class="btn btn-primary">Submit</button>          
       </form>
    </div> 
</div>