<div class="row">
  <div class="col-12">

  
      <div class="row">
          <div class="col-lg-12">    
                  <h2 class="event_details_title">Event Details</h2>
          </div>
      </div>

      <div class="row">
          <div class="col">
            <div class="top_search_fields">
                
                <mat-form-field>
                    <mat-select placeholder="Location">
                      <mat-option value="option">NYC</mat-option>
                      <mat-option value="option">NJ</mat-option>
                      <mat-option value="option">Conn</mat-option>
                    </mat-select>
                </mat-form-field>
                
              
                    <input matInput placeholder="Guest">
               

                <!-- <input matInput style="margin-right:0; font-family:Avenir; text-align: center;" class="header_button" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle  class="picker"   style="color:white;" matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> -->
                
            </div>
          </div>
      </div>
  
  
  </div>
</div>

  


