<div class="row feature_header">
    <div class="col-6"><h2 class="featuredVenuesTitle">Featured venues</h2></div>
    <div class="col-6"><span class="seeMore">see all venues ></span></div>
</div> 
<div class="row">
    <div class="col-4">
            <div class="card" style="width: 20rem;">
                    <div style="background-image: url('https://static1.squarespace.com/static/5639ae74e4b0938162bc0540/565c8c4ee4b0f33a7ae9ac84/565c8d62e4b0fad364fe179b/1448907726550/10_03_10+Verdini+Fiorino+C1+2.jpg?format=2500w');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 200px; "></div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>
    </div>
    <div class="col-4">
            <div class="card" style="width: 20rem;">
                    <div style="background-image: url('http://ovationsrestaurant.com/sites/sow/files/gallery/DSC_0025.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 200px; "> </div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
    </div>
    <div class="col-4">
            <div class="card" style="width: 20rem;">
                    <div style="background-image: url('../../assets/create.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 200px; "></div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>
    </div>
</div>  