<div class="row feature_header" >
    <div class="col-6"><h2 class="featuredVenuesTitle">Featured Venues</h2></div>
    <div class="col-6"><span class="seeMore">see all venues ></span></div>
</div> 
<!-- example -->
<!-- <div style="margin-top: 20px;" class="col-lg-4 col-md-6 col-sm-12" *ngFor="let p of filteredProducts">
                <product-card [product]="p" [inProductPage]="true" [shopping-cart]="cart"></product-card>
              </div> -->
<div class="row justify-content-center " style="margin-bottom: 50px;" >
   <div class="col-sm-12 col-lg-4" *ngFor="let venue of venues">
        <venuecard  [venueInfo]="venue"></venuecard>
    </div>
</div>  