<div class="bg-dark">
  <div class="container user_type_container">
        <label>How will you be using Sit, Parker ? </label> 
       <ul class="list-group user_type">
          <li class="list-group-item" routerLink ="/login">       
            Personal
          </li>
          <!-- To be added later -->
          <!-- <li class="list-group-item">Corporate</li> -->
          <li class="list-group-item" routerLink ="/venue/login">Venue</li>

          <li class="list-group-item" routerLink ="/staff/login">Staff</li>
        </ul>
  </div>
</div>