.user_type li {
    margin-top: 10px;
    cursor: pointer;
}
.user_type_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}
.user_type_container label {
    color:white;
    font-family: Avenir;
}
.list_group_item {
    cursor: pointer;
}