.parallax { 
    /* The image used */
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/04/81/25/0481252133f031d85f8f4deb3e101d3b.jpg");

    /* Set a specific height */
    height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 155%;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_header {
    padding: 11.3875rem calc(50vw - 473px) 11.3875rem;
    text-align: left;
    position: relative;
    background: rgba(0,0,0,.3);
}

.home_header_title {
    color: #fff;
    text-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(0,0,0,.5);
    font-size: 3.25rem;
    line-height: 4.4375rem;
    margin-bottom: .375rem;
    font-weight: 700;
    font-family: Avenir;
}

.home_header_subtitle {
    color: #fff;
    text-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(0,0,0,.5);
    font-size: 1.25rem;
    line-height: 0.4375rem;
    margin-bottom: .375rem;
    font-weight: 700;
    font-family: Avenir;
}



@media only screen and (max-width: 478px) {
   
    .home_header {
        padding: 11.3875rem calc(50vw - 473px) 4.3875rem;
        text-align: left;
        position: relative;
        background: rgba(0,0,0,.3);
    }
    .home_header_title {
       margin-left: 20px;
    }
    .home_header_subtitle {
        margin-left: 20px;
    }
    
 }