<nav class="navbar navbar-expand-lg navbar-light navBar">
  <div class="container">
  <a class="navbar-brand navItemLogo" href="#">SitParker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link navItem" href="#">NEW YORK + </a>
      </li>
      <li class="nav-item">
            <a class="nav-link navItem" href="localhost:api/test">REASOURCES</a>
      </li>
      <ng-template #logout>
        <li>
          <a class="nav-link navItem" href="/auth/logout" >LOG OUT</a>
        </li>
      </ng-template>
    
      <li class="nav-item" *ngIf="!isLogged; else logout">
        <a class="nav-link navItem" routerLink ="/login" >LOG IN</a>
      </li>
      <li class="nav-item">
          <a class="nav-link navItem" href="#">LIST YOUR VENUE</a>
      </li>
    </ul>
   
  </div>
</div>
</nav>