<div class="search_panel_container row ">
    <div class="col-sm-6 col-md-6  col-lg-3">
            <div style="background-color:white;" class="search_item">
                  
                            <mat-form-field style="height:52px">
                                    <mat-select placeholder="State" [(ngModel)]="myState">
                                      <mat-option *ngFor="let state of states" [value]="state.code">{{ state.name }}</mat-option>
                                    </mat-select>
                            </mat-form-field>
                  
            </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
       
        <div class="search_item">
                <input matInput style="margin-right:0; font-family:Avenir; text-align: center;" class="header_button" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle  class="picker"   style="color:white;" matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
       
        <div class="search_item" >
                <!-- <button class="header_button" mat-button [matMenuTriggerFor]="menu">Guests</button> -->
                <input matInput [(ngModel)]="numberOfGuest" class="header_button" placeholder="Guest">
        </div>
           
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="search_item">
                <button mat-button (click)="submitSearch()" class="header_search" >Search</button>
            </div>
    </div>
</div>