<div style="margin-top: 50px" class="row">
    <div class="col-4">
        <input matInput class="header_button" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle style="color:white;" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> 
    </div>
    <div class="col-3">
        <button mat-button class="header_button" [matMenuTriggerFor]="menu">date</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
    </div>
    <div class="col-3">
            <button mat-button  class="header_button" [matMenuTriggerFor]="menu">guest</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
    </div>
    <div class="col-2">
            <button mat-button  class="header_search" >Search</button>
    </div>
</div>