
    <div class="card" >
            <div class="venueImage" [style.backgroundImage]="'url(http://localhost:3000/public/images/' + venueInfo.image + ')'" ></div>
            <div class="card-body">
              <p>{{venueInfo.venueName}}</p>
              <p class="card-text">Whether you’re in search of a private space for a business function, family event, or just a special dinner out with friends, Fiorino has the right solution for your private dining needs.</p>
            </div>
    </div>
